body {
  font-family: poppins;
  color: #232323;
  background-color: #fff;
}

li a i {
  color: white;
}

nav li a {
  transition: all 0.3s ease;
}
nav li a:hover {
  color: rgb(255, 17, 0);
}

.add {
  border: 2px solid red;
  color: rgb(255, 17, 0);
  transition: all 0.3s ease;
}
.add:hover {
  background-color: red;
  color: #fff;
}

.btn-primary {
  background-color: rgb(255, 17, 0);
}
.btn-primary:hover {
  background-color: rgb(189, 3, 3);
  transition: all 0.3s ease;
}
